<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div id="computed">
      <h3>Working with computed properties</h3>
      <input v-model="person.name" type="text" placeholder="Name">
      <input v-model="person.lastName" type="text" placeholder="Last Name">
      <input v-model="person.age" type="number" placeholder="Age">
      <p>{{ description }}</p>
    </div>

    <div id="watched">
      <h3>Working with watched properties</h3>
      <input type="number" v-model="number" placeholder="Number">
      <p>{{ answer }}</p>
    </div>

    <br><br>

    <div id="yesNo">
      <h3>***A yes/no answer app***</h3>
      <input type="text" v-model="question" placeholder="Ask something">
      <p>{{ answer }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
